@import url("print.css");

/* .row{
    color: burlywood;
} */
/* .row{
    border: 1px solid #ccc;
    margin: 5px 0px;
}
.row:nth-child(odd){
    background-color: chartreuse;
}
.row:last-child{
    background-color: chocolate;
}
.row:first-child{
    background-color: cornflowerblue;
} */